.rank-officetel-card {
  height: 100%;
  width: 368px;

  .rank-list {
    .rank-list-item {
      height: 60px;

      .secondary-div {
        display: inline-block;
        width: 100%;

        .secondary-right {
          float: right;
        }

        .secondary-left {
          float: left;
        }
      }
    }
  }
}
