.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #fff;
    position: fixed;
    height: 100vh;
    overflow: auto;

    @media (max-width: 600px) {
        width: 100%;
        height: auto;
        position: relative;
    }
    
    .sidebar-menu {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
        &.active {
            background-color: #4CAF50;
            color: white;
        }
        &:hover:not(.active) {
            background-color: #555;
            color: white;
        }
        @media (max-width: 600px) {
            float: left;
        }
    }
}

.main-content {
    margin-left: 200px;
    min-width: 1220px;
    padding: 16px;
    height: calc(100vh - 32px);
    @media (max-width: 600px) {
        margin-left: 0;
    }
}